# Jupyter
.ipynb_checkpoints/

# Mac
.DS_*

# Numpy
*.npy

# Keras
*.h5

# Pickle
*.pkl

# datafiles
*.gz

# Jetbrain
.idea

# Datasets
.csv

# Kaggle folders
inputs/
030-chatbot/simple/output/
output/

# Logs
log/

# Floydhub
.floydexpt